@import url(./reset.css);

body {
    background-color: rgb(235, 191, 191);
    padding: 0;
}

.container {
    max-width: calc(100% - 60px, 1080px);
    margin: 0 30px;
}

/* Header */

header {
    height: 70px;
    max-width: 100%;
    background-color: rgb(53, 47, 59);
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    flex: 30%;
    text-align: center;
    vertical-align: middle;
    color: #e1e137;
}

.nav-list {
    text-align: center;
    text-decoration: none;
    color: #e1e137;
    display: inline;
    flex: 70%;
    margin-right: 10%;
    text-align: end;
}

ul {
    display: inline;
}

li {
    color: #e1e137;
    display: inline;
    font-size: 30px;
}

a {
    width: 25%;
    text-decoration: none;
    color: #e1e137;
}

.about-us , .contact-me {
    width: 50%;
    height: 100%;
    margin: 0 20px;
}

@media (max-width: 900px) {
    .nav-list {
        margin-right: 10px;
    }
}

@media (max-width: 1200px) {
    .nav-list {
        margin-right: 10%;
    }

    li {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .nav-list {
        margin-right: 5%;
    }
}